Makefile.in
Makefile
INSTALL
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.h
config.log
config.lt
config.status
config.sub
configure
depcomp
doltcompile
doltlibtool
gmime.spec
gmime*.pc
gtk-doc.make
iconv-detect.h
install-sh
libtool
ltmain.sh
missing
stamp-h1
