Makefile.in
Makefile
INSTALL
aclocal.m4
autom4te.cache/
ChangeLog
compile
config.guess
config.h.in
config.h
config.log
config.lt
config.status
config.sub
configure
configure~
depcomp
gmime.spec
gmime*.pc
gtk-doc.make
iconv-detect.h
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.tar.xz
*.sha256sum
.DS_Store
update-copyright.sh
