Makefile.in
Makefile
.deps/
.libs/
*.lo
*.o
test-autocrypt
test-best
test-cat
test-filters
test-headers
test-html
test-iconv
test-mbox
test-mime
test-mime-part
test-parser
test-partial
test-pgp
test-pgpmime
test-pkcs7
test-smime
test-streams
