Makefile.in
Makefile
.deps/
.libs/
html/
tmpl/
xml/
gmime-decl-list.txt
gmime-decl.txt
gmime-overrides.txt
gmime-undeclared.txt
gmime-undocumented.txt
gmime-unused.txt
gmime.args
gmime.interfaces
gmime.prerequisites
gmime.signals
*.stamp
*.bak
